{% extends 'base.html' %}

{% block title %}Total Monthly scores{% endblock %}

{% block content %}
    <h1>Monthly Averages for {{ year }}</h1>
        <form method="get">
            {{ form.as_p }}
            <button type="submit">Apply Filters</button>
        </form>
    <canvas id="myChart"></canvas>
    
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Average Score',
                    data: {{ averages|safe }},
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 3
                }]
            }
        });
    </script>
{% endblock %}
